 <!-- fake div to make appear -->
<div class="image_wrapper">
    <div class="image_back fade-in "> <img class ="image_cover" src="https://upload.wikimedia.org/wikipedia/en/8/83/Dark_knight_rises_poster.jpg"></div>
    <div class="image_back fade-in "> <img class ="image_cover" src="https://upload.wikimedia.org/wikipedia/en/9/9d/Disney_The_Lion_King_2019.jpg"></div>
    <div class="image_back fade-in "> <img class ="image_cover" src="https://upload.wikimedia.org/wikipedia/en/d/df/Arrival%2C_Movie_Poster.jpg"></div>
    <div class="image_back fade-in "> <img class ="image_cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/12_Angry_Men_%281957_film_poster%29.jpg/220px-12_Angry_Men_%281957_film_poster%29.jpg"></div>
    <div class="image_back fade-in "> <img class ="image_cover" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/14/Tenet_movie_poster.jpg/220px-Tenet_movie_poster.jpg"></div>
    <div class="image_back fade-in "> <img class ="image_cover" src="https://upload.wikimedia.org/wikipedia/en/1/19/Titanic_%28Official_Film_Poster%29.png"></div>
    <div class="image_back fade-in "> <img class ="image_cover" src="https://upload.wikimedia.org/wikipedia/en/d/d6/Beauty_and_the_Beast_2017_poster.jpg"></div>
    <div class="image_back fade-in "> <img class ="image_cover" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Affiche_97_Fatima_Fr.jpg/220px-Affiche_97_Fatima_Fr.jpg"></div>
</div>


<!-- class="image-cover" -->


<div class="banner">
  <div class="form-wrapper">
    <h2>Sign up</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :username,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "Choose a username" } %>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>




<!--     <script>
      const myForm = document.querySelectorAll('.image_back');

      let j= 1000
      for (let i = 0; i < 8; i++) {
        const myForm = document.querySelectorAll('.image_back');
        // setTimeout(() => {myForm[i].style.display = 'block';}, j)
        setTimeout(() => {myForm[i].classList.toggle("really_hidden");}, j)
        j = j+600
        };
    // const alplha = document.createElement("div")
    </script>
 -->
