<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/", class: "navbar-brand" do %>
    <span id="logo">Mooovie Night</span>
  <% end %>

  <% if @event && @event.name %>
    <div id="event-dropdown" class="dropdown">
      <h1><button class="drop-title"><%= @event.name.capitalize %> <i class="fas fa-chevron-down"></i></button></h1>
      <div class="dropdown-content">
        <% current_user.event_ids.each  do |event|  %>
          <% if @event.name != Event.find(event).name %>
            <%= link_to Event.find(event).name, swipe_path(event)%>
          <% end %>
        <% end %>
      </div>
    </div>
  <%end%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <% if user_signed_in? %>
      <% if @event && @event.name %>

        <ul class="list-inline members">
          <li class="list-inline-item" title="matches" style="color:yellow; font-size: 35px;">
            <% count = @event.event_movies.where(score: @event.users.count ).count %>
            <%= count %><i class="fas fa-star"></i>
          </li>
          <%@event.users.each do |user| %>
            <li class="list-inline-item avatar-letter" title="<%= user.username %>">
              <span class="user-first-letter"><%= user.username[0] %></span><span class="user-rest"><%= user.username[1..-1] %></span> <span class="reviews-counter" title="swipes" id="c_<%=user.id%>"><%= @event.reviews.where(user_id: user.id, movie_liked: true).count %> <span class="swipes"> likes</span></span>
            </li>
          <%end%>
        </ul>

      <%end%>

        <li class="nav-item dropdown">
          <%= image_tag "https://media.istockphoto.com/photos/businessman-silhouette-as-avatar-or-default-profile-picture-picture-id476085198?k=6&m=476085198&s=612x612&w=0&h=5cDQxXHFzgyz8qYeBQu2gCZq1_TN0z40e_8ayzne0X0=", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Preferences",  preferences_make_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit your profile",  edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <!--<li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>-->
      <% end %>
    </ul>
  </div>
</div>



         <!--  <script>
              document.querySelectorAll(".avatar-letter").forEach((avatar) => {
                avatar.addEventListener("mouseover", (event) => {
                  avatar.innerHTML = avatar.title;
                  avatar.classList.add("fullname");
                });
              });

              document.querySelectorAll(".avatar-letter").forEach((avatar) => {
                avatar.addEventListener("mouseout", (event) => {
                  console.log(avatar.title);
                  avatar.innerHTML = avatar.innerHTML.charAt(0);
                  avatar.classList.remove("fullname");
                });
              });


            </script>
-->
