
<div class="banner">
  <div class="form-wrapper">
<h2>Edit your event</h2>
 
<%= link_to "End this event early", stop_path(@event.id), method: :post, class: 'btn btn-danger' %>

<%= simple_form_for @event do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :date_end %>

  <h3>Members</h3>
  <ul>
    <% @event.users.each do |user| %>
        <li>
        <%= user.username %> 
          <% if user.id == current_user.id %>
            (owner)
          <% else %>
            <%= link_to "fire!", event_subscription_path(user), method: 'delete' %>
          <% end %>
        </li>
    <%end%>
  </ul>


  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<p> <%= link_to "delete event", event_path, method: 'delete', data: {confirm: 'Are you sure?'} %></p>
<%= link_to "X", event_path(@event), class: 'links' %>
</div>
</div>