<h1>My Events</h1>

<div class="cards">
  <div class="card add-new">
      <div class="card-content">
          <%= link_to "Create a new event", new_event_path, class: 'btn btn-primary' %>
          <%= simple_form_for @code_event, {url: event_subscriptions_path} do |f| %>
            <%= f.input :code, placeholder: 'Enter your code', label: false  %>
            <%= f.button :submit, 'join event', class: 'btn btn-primary'%>
            <p><%= @error_message%></p>
          <% end %>
      </div>
  </div>
  <% @events.each do |event|%>
    <div class="card">
      <h2><%= event.name %></h2>
      <p>
      <%= link_to "See details", event_path(event) %>
      
      <% if event.closed == true %>
        <%= link_to "| View result", result_path(event.id) %>

        <% if event.event_subscriptions.where(owner: true)[0].user.id == current_user.id %>
          <%= link_to "| Edit", edit_event_path(event) %>
        <% end %>

      <% else %>

        <%= link_to "| Start swiping", swipe_path(event.id) %>

        <% if event.event_subscriptions.where(owner: true)[0].user.id == current_user.id %>
          <%= link_to "| Edit", edit_event_path(event) %>
        <% end %>

        <% if current_user.id == event.event_subscriptions.where(owner: true)[0].user.id %>
          <%= link_to "| End this event early", stop_path(event.id), method: :post %>
          
        <% end %>
      <% end %>
      </p>
      <p><%= event.date_end %></p>
      <ul>
        <%event.users.each do |user| %>
          <li>
            <%= user.username %>
          </li>
        <%end%>
      </ul>
    </div>
  <% end %>
</div>

