<h1>My Events</h1>

<div class="cards">
  <div class="card add-new">
      <div class="card-content">
        <div>
          <%= link_to "Create a new event", new_event_path, class: 'btn btn-primary' %>
        </div>
        <div>
          <p> - OR -</p>
        </div>
          <%= simple_form_for @code_event, { url: event_subscriptions_path, class: "form-inline"} do |f| %>
            <div class="form-group centered">
              <%= f.input :code, class: 'form-control', placeholder: 'Enter code', label: false  %>
              <%= f.button :submit, 'join', class: 'btn btn-primary'%>
              <p><%= @error_message%></p>
            </div>
          <% end %>
      </div>
  </div>

  <% @events.each do |event|%>
    <div class="card">
      <div class="top">
        <p class="date"><%= event.date_end.day %>/<%= event.date_end.month %>/<%= event.date_end.year %></p>
        <h3><%= event.name.capitalize %></h3>
        <div class="links">
          <%= link_to event_path(event), class: 'view' do %><i class="far fa-eye"></i><%end%>
           <% if event.event_subscriptions.where(owner: true)[0].user.id == current_user.id %>
            <%= link_to edit_event_path(event), class: 'edit' do %><i class="fas fa-pen"></i><%end%>
          <%end%>
        </div>


      </div>
      
      <% if event.closed == true %>
        <%= link_to "View result", result_path(event.id), class: 'btn btn-primary btn-bottom' %>
      <% else %>
        <%= link_to "Start swiping", swipe_path(event.id), class: 'btn btn-primary btn-bottom' %>
      <%end%>

       <!-- <% if current_user.id == event.event_subscriptions.where(owner: true)[0].user.id %>
          <%= link_to "| End this event early", stop_path(event.id), method: :post %>
        <% end %> -->

    </div>
  <% end %>
</div>

