
<h1>My Events</h1>

<%# horizontal-scroll %>


  
<div class="card add-new">
    <div class="card-content">
        <%= link_to "Create an event", new_event_path, class: 'btn btn-primary' %>
        <p> - or -</p>
        <%= simple_form_for @code_event, url: event_subscriptions_path,  html: { class: "form-inline"} do |f| %>
          <div class="form-group centered col-xs-6">
            <%= f.input :code, class: 'form-control', placeholder: 'Enter code', label: false  %>
          </div> 
          <div class="form-group centered col-xs-6">  
            <%= f.button :submit, 'join', class: 'btn btn-primary'%>
          </div>
          <p id="errormessage"><%= @error_message%></p>
        <% end %>
        <div>
          <p>Join an event</p>
        </div>
    </div>
</div>
  


<div class="cards-wrapper">  
  
  <div class="cards">
    <h2>Today</h2>


    <% @events.order('date_end ASC').reverse().each do |event|%>
      <% if (event.date_end.day == DateTime.now().day) && (event.date_end.month == DateTime.now().month) && (event.date_end.year == DateTime.now().year) %>
      
        <%# insert card %>
        <%= render '/events/card', event: event %>

      <% end %>
    <% end %>

    <div class="card empty"></div>
  </div>
  
  <div class="cards">
    <h2>This month</h2>
    <% @events.order('date_end ASC').each do |event|%>
      <% if (event.date_end.month == DateTime.now().month) && (event.date_end.year == DateTime.now().year) && (event.date_end.day != DateTime.now().day) %>

        <%# insert card %>
        <%= render '/events/card', event: event %>

      <% end %>
    <% end %>
    <div class="card empty"></div>
  </div>

  <div class="cards">
    <h2>Later events</h2>
    <% @events.order('date_end ASC').each do |event|%>
      <% if (event.date_end.month != DateTime.now().month) || (event.date_end.year != DateTime.now().year) %>

        <%# insert card %>
        <%= render '/events/card', event: event %>

      <% end %>
    <% end %>
    <div class="card empty"></div>
  </div>

</div>

