



<% if @event.event_subscriptions.where(owner: true)[0].user.id == current_user.id %>
<div class="res_button hidden">
  <%= link_to "Restart this event!", edit_event_path(@event.id), class: :res_link %>
</div>
<% end %>
<div class="res_button">
  <%= link_to "Back your events", events_path, class: :res_link %>
</div>
<% if @event.event_subscriptions.where(owner: true)[0].user.id == current_user.id || @event.closed == true%>
  <div class="wrap">
    <button id="reveal_btn" type="button" class="button"> Reveal</button>
  </div>
<% else %>
  <div class="wrap">
    <div id="not_reveal_btn" type="button" class="button"> Reveal</div>
  </div>
<% end %> 

<%# <div class="wrap">
  <button class="button">Reveal</button>
</div> %>

<div class="res_array">
  <% (0...97).to_a.each do |i| %>
    <% if i == @winner_pos %>
      <div id="winner_div">
        <img src="<%= @winner.poster %>" class="res_card" id="winner_s" alt="">
        <img src="<%= @winner.poster %>" class="res_card_ really_hidden" id="winner" alt="">
      </div>
    <% end %>
      <img src="<%= @fill[i].cover %>" class="res_card" alt="">
  <% end %>
</div>

