
<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>

<%= simple_form_for @movie, {url: event_movie_path(@event_id)} do |f| %>
  <%= f.submit "I like", name: "like" %>
  <%= f.submit "Dislike", name: "dislike" %>
<% end %>








<h1>Welcome to "<strong><%= @event.name %></strong>"</h1>

<% if current_user.id == @event.event_subscriptions.where(owner: true)[0].user.id %>
  <h2>You are the owner of this event.</h2>
<% else %>
  <h2>You have been invited by <strong><%= @event.event_subscriptions.where(owner: true)[0].user.username%></strong>
  to join his Movie Night event.</h2>
<%end %>

<p><%= @event.description %></p>

<h3>When?</h3> 
<p><%= @event.date_end %></p>

<h3>Where?</h3> 
<% if current_user.id == @event.event_subscriptions.where(owner: true)[0].user.id %>
  <p>At your place.</p>
<% else %>
 <%= @event.event_subscriptions.where(owner: true)[0].user.username%>'s place</p>
<% end %>

<h3>Other attendees:</h3>

<ul>
<% @event.users.each do |user| %>
    <li>
    <%= user.username %> 
    <% if user.id == @event.event_subscriptions.where(owner: true)[0].user.id %>
        (owner)
    <% elsif user.id == current_user.id %>
        (you)
      <% end %>
    </li>
<%end%>
</ul>

<%= link_to "Back to My Events", events_path %>

