<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<ul>
  <li><%=link_to "Event new", new_event_path%></li>
  <li><%=link_to "Event Index", events_path%></li>
  <li><%=link_to "Event Edit", edit_event_path(:id)%></li>
  <li><%=link_to "Event", event_path(:id)%></li>

  <li><%=link_to "Movies", movies_path%></li>
  <li><%=link_to "movie", movie_path(:id)%></li>

  <li><%=link_to "event subscription", event_subscriptions_path%></li>

  <li><%=link_to "reviews", reviews_path%></li>

  <li><%=link_to "edit preference", edit_preference_path(:id)%></li>
  <li><%=link_to "preference", preference_path(:id)%></li>
</ul>




