<!DOCTYPE html>
<html>

  <head>
    <title>Movienight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body class="<%= controller_name %>_body action_<%= action_name %>">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>
  <div class="bg-image">
  </div>
  <div class="nav_buttons">
    <div id="donotlikebtn"><p class="btn_text">Dislike</p></div>
    <div id="likebtn"><p class="btn_text">Like</p></div>
  </div>
  <div class="container">
    <%= yield %>
  </div>
  
  </body>
</html>
